@model IEnumerable<WebApplication1.Models.Author>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuthorName)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody id="authorListBody">
    @foreach (var item in Model)
    {
        {
            //Html.Partial("AuthorListRecord", item);
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorName)
                </td>

                <td>
                    @using (Ajax.BeginForm("Delete", new AjaxOptions() { Confirm = "Delete ?", HttpMethod = "POST", OnSuccess = "" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.Hidden("Id", item.Id)
                        <input type="submit" value="Delete" class="btn btn-default" />
                    }
                </td>
            </tr>
        }
            @*<tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AuthorName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                    </td>
                </tr>*@
        }
    </tbody>

</table>
